html,body{
  height: 1vh !important;
}

.background-blue {
  background-color: #155592; }

.background-sass {
  background-color: #e64980 !important;
  color: white !important; }

.clear {
  margin: 0 !important;
  padding: 0 !important; }

.less-margin {
  margin-bottom: 0.5rem !important;
  padding-top: 1rem; }

.footer-li > li {
  margin-top: .2em; }

.main-content {
  border-radius: .2rem;
  padding:5rem;
  display: flex !important;
  min-height: 49vh !important;
  flex-direction: column !important; }

