extends layout
append heads
    title Home
prepend header
    - var aa="https://yahoo.com"
block content
    .section.columns
        .column
            .content.has-background-light.main-content
                p.subtitle Hello
        .column
            .content.has-background-light.main-content
                p.subtitle Hello