footer.cloumns
    .column.is-mobile.has-background-grey-dark
        .container
            .columns
                .column.is-4.is-offset-3
                    .title.is-6.has-text-grey-light.less-margin Project
                    ul.footer-li
                        li.has-text-white Project Info
                        li.has-text-white Fork on Kaggle
                        
                .column.is-4
                    .title.is-6.has-text-grey-light.less-margin About Me
                    ul.footer-li
                        li.has-text-white Raushan Raja
                        li.has-text-white 160105005
                        li.has-text-white IT-A

    .column.is-mobile.has-background-grey-darker
        .container
            .level  
                .level-left.is-flex-mobile
                    .level-item.has-text-grey-light 
                        .tags
                            span.tag.is-large.has-background-info
                                a(href="https://www.python.org", title="Python") 
                                    i.fab.fa-python.has-text-warning
                            span.tag.is-large.background-sass
                                a(href="https://sass-lang.com", title="Sass").has-text-white
                                    i.fab.fa-sass
                            span.tag.is-large.is-danger
                                a(href="https://gulpjs.com", title="Gulp").has-text-white
                                    i.fab.fa-gulp
                            span.tag.is-large.is-primary
                                a(href="https://nodejs.org", title="nodejs").has-text-white 
                                    i.fab.fa-node
    
                .level-right
                    p.level-item.has-text-grey-light Raushan Raja
                        
                