.hero.background-blue
    .hero-body
        p.title.is-1.has-text-light Email Spam Filtering
        .subtitle.has-text-grey-light using machine learning techinque
.column
    .container
    block header
        a(href=aa).button.is-dark
            span.icon.is-small
                i.fas.fa-arrow-left
            span Back
